.burger-menu {
  position: fixed;
  padding: 20px 12px 20px;
  top: -100%;
  left: 0;
  width: calc(100% - 24px);
  background-color: var(--accent);
  transition: top 0.3s ease-in-out;
}

.burger-menu.active {
  top: 0;
}

.burger-menu__header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.burger-menu__button {
  background-image: url(../images/menu-close.svg);
}

.burger-menu__links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.burger-menu__links li {
  cursor: pointer;
}
