@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Seymour+One&display=swap');

:root {
  --font: #fff;
  --accent: #000;
}

body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Seymour One', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
